*{
    margin: 0;
}
body{
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui;
    background: linear-gradient(45deg, #000060, #600000);
}
.users{
    width: 30%;
    padding: 10px;
}
.user{
    padding: 8px 8px 8px 20px;
    margin-top: 15px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}
h3{
    font-size: 18px;
}
.select{
    border: 4px solid #ff6200;
}
.posts-container{
    width: 70%;
    padding: 20px;
    background-color: #ececec;
}
.post{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}
h4{
    font-size: 18px;
}